*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #101010;
    color: #bbb;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}



main{
    width: 60%;
    min-height: 800px;
    margin: auto;
    animation-name: example;
    animation-duration: 900ms;
}

nav > a{
    font-size: 18px;
    font-weight: 600;
    line-height: 2.5;
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.header{
    min-height: 220px;
    border: 1px solid rgba(255,255,255,.07);
   
}

.cc{
    display: flex;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius:50%;
    
}

.imgC{
    padding-top: 10px;
    text-align: center;

}




div > p{
    font-size: 20px;
    font-weight: 600px;
}

.kcontainer{
    min-height: 230px;
    border: 1px solid rgba(255,255,255,.07);
    display: flex;
    align-items: center;

}

header > nav{
    margin-top: 10px;
    text-align: center;
}

main{
    margin-top:3em;
}

.kcontainer > .row{
    width: 100%;
}

.knowledge, .works,
 .experience, .education{
    margin-top: 6em;
}

.carousel-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.carousel-item > img{
    width: 80% !important;
    margin:auto;
    border-radius: 0%;
    height:150px;
 
}

.visit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    color: #4bffa5 !important;

}

#carouselExampleIndicators{
    width: 100%;
}


.knowledge > p,
 .works > p,
 .experience > p,
 .education > p{
    padding-left: 3em;
}
.works > .row, .experience > .row,
.education > .row {
    padding-left: 10px;
}


.titles{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

ul > li{
    font-size: 20px;
    color: #eee;
    font-weight: 700;
    margin-bottom: 10px;
}

div > h4{
    color: #eee;
    font-weight: 500;
}

.cprojects > div > p{
    font-size: 20px;
}
.visit > a{
    color:#4bffa5

}
a{
    text-decoration: none;
    color:#4bffa5
}
a:hover{
    color:#4bffa5
}

.cprojects{
    width: 407px;
    min-height: 200px;
    border: 1px solid rgba(255,255,255,.07);
    display: flex;
    align-items: center;
    text-align: center;

}
.reachme{
    text-align: justify;

}

.reachme > div > p{
    color:#4bffa5
}

span{
    color: #4bffa5;
    font-weight: 600;
}

footer{
    margin-top:6em;
}


footer > div{
    text-align: center;
}


@media only screen and (max-width: 800px) {
    main{
        width: 70%;
    }

    .knowledge > p,
 .works > p,
 .experience > p,
 .education > p{
    padding-left: 0;
}

.excont1, .excont2{
    padding-top: 5px;
    padding-bottom: 5px;
}

.excont1 > h4{
    padding-top: 6px;
}

.kcontainer, .intro{
    padding: 10px;
    padding-top: 30px
  

}

.intro{
    text-align: center;
}
}

@keyframes example {
    from {opacity: 0; transform: 'translateY(10px)'}
    to {opacity:0.4; transform : 'translateY(0px)'}
  }
/* 
    opacity: 0, transform: 'translateY(10px)'

  animate('500ms', style({opacity:0.4,  transform : 'translateY(0px)'})) */